<div class="navbar">
    <div>
        <a routerLink="/games-list" routerLinkActive="active">
            <i class="fa-solid fa-shop"></i>
            Store
        </a>
        <a routerLink="/support" routerLinkActive="active">
            <i class="fa-solid fa-headset"></i>
            Support
        </a>
        <div class="dropdown" (mouseenter)="dropdownOpenCatagories = true" (mouseleave)="dropdownOpenCatagories = false">
            <a href="javascript:void(0);">
                <i class="fa-solid fa-layer-group"></i>
                Catagories
                <ng-container *ngIf="dropdownOpenCatagories"><i class="fa-solid fa-angle-up"></i></ng-container>
                <ng-container *ngIf="!dropdownOpenCatagories"><i class="fa-solid fa-angle-down"></i></ng-container>
            </a>
            <div class="dropdown-content dropdown-content-right"  
                *ngIf="dropdownOpenCatagories">
                <ng-container *ngIf="gameCategories$ | async as gameCategories">
                    <ng-container *ngIf="gameCategories | keyvalue as categoryEntries">
                        <ng-container *ngFor="let entry of categoryEntries">
                            <!-- {{ entry.key }}: {{ entry.value }} -->
                            <ng-container *ngIf="entry?.key === Platforms.All">
                                <a href="javascript:void(0);"><i class="fa-solid fa-check-double"></i> {{ entry.key }} ({{ entry.value }})</a>
                            </ng-container>
                            <ng-container *ngIf="entry?.key === Platforms.PC">
                                <a href="javascript:void(0);"><i class="fa-solid fa-desktop"></i> {{ entry.key }} ({{ entry.value }})</a>
                            </ng-container>
                            <ng-container *ngIf="entry?.key === Platforms.Xbox">
                                <a href="javascript:void(0);"><i class="fa-brands fa-xbox"></i> {{ entry.key }} ({{ entry.value }})</a>
                            </ng-container>
                            <ng-container *ngIf="entry?.key === Platforms.PlayStation">
                                <a href="javascript:void(0);"><i class="fa-brands fa-playstation"></i> {{ entry.key }} ({{ entry.value }})</a>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <a routerLink="/admin"><i class="fa-solid fa-screwdriver-wrench"></i> Admin</a>
    </div>
    <div class="search-container">
        <input type="text" placeholder="Search...">
    </div>
    <div>
        <div class="dropdown" (mouseenter)="dropdownOpenProfile = true" (mouseleave)="dropdownOpenProfile = false">
            <a href="javascript:void(0);">
                <i class="fa-solid fa-circle-user"></i> Player
                <ng-container *ngIf="dropdownOpenProfile"><i class="fa-solid fa-angle-up"></i></ng-container>
                <ng-container *ngIf="!dropdownOpenProfile"><i class="fa-solid fa-angle-down"></i></ng-container>
            </a>
            <div class="dropdown-content dropdown-content-left"
                *ngIf="dropdownOpenProfile">
                <a><i class="fa-solid fa-id-card"></i> My Profile</a>
                <a><i class="fa-solid fa-heart"></i> WishList</a>
                <a><i class="fa-solid fa-arrow-down-a-z"></i> Orders</a>
                <a><i class="fa-solid fa-wallet"></i> Wallet</a>
                <a><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
        </div>
        <a (click)="toggleTheme()">
            <i [ngClass]="isDarkTheme ? 'fa-solid fa-mountain-sun' : 'fa-solid fa-cloud-moon'"></i>
        </a>
        <a><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
</div>
<router-outlet></router-outlet>