/* Basic styling for the body */
body {
    font-family: Arial, sans-serif; /* Set font family */
    margin: 0; /* Remove default margin */
}

/* Navbar container styling */
.navbar {
    background-color: #333038; /* Dark background for navbar */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
    border-radius: 5px; /* Rounded corners for links */
    padding: 1px; /* Add padding around the navbar */
}

/* Navbar link styling */
.navbar a {
    color: white; /* White text color for links */
    text-decoration: none; /* Remove underline from links */
    position: relative; /* Positioning context for pseudo-elements */
}

/* Link hover effects in the navbar */
.navbar a:hover {
    color: #b3b3b5; /* Change text color on hover */
}

/* General link styling */
a {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Padding around links */
    border-radius: 5px; /* Rounded corners for links */
    transition: background-color 0.3s; /* Smooth transition for background */
}

/* Link hover effects */
a:hover {
    background-color: #333038; /* Darker background on hover */
}

/* Search container styling */
.search-container {
    flex: 1; /* Allow container to grow */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items horizontally */
}

/* Search input styling */
.search-container input[type="text"] {
    padding: 10px 15px; /* Padding inside the input */
    width: 80%; /* Input takes 80% of container width */
    border: 2px solid #333038; /* Border color */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove default outline */
    transition: border-color 0.3s ease; /* Smooth border color transition */
    padding-left: 40px; /* Space for search icon */
    position: relative; /* Positioning context for background */
    background: url('../../../../assets/icons/search-black.svg'); /* Background image */
    background-repeat: no-repeat; /* Do not repeat background image */
    background-position: 10px center; /* Position image */
    background-color: white; /* Background color for input */
    background-size: 20px; /* Size of the background image */
}

/* Search button hover effects */
.search-container button:hover {
    background-color: #ccc; /* Change background color on hover */
}

/* Dropdown container styling */
.dropdown {
    display: inline-block; /* Allow inline display */
}

/* Dropdown content styling */
.dropdown-content {
    display: none; /* Hide dropdown content by default */
    position: absolute; /* Positioning for dropdown */
    background-color: #333038; /* Dark background */
    color: white; /* White text color */
    min-width: 160px; /* Minimum width for dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Shadow effect */
    z-index: 1; /* Ensure dropdown appears above other elements */
    border-radius: 5px; /* Rounded corners for links */
}

.dropdown-content-right {
    margin: 8px 0 0 10px; /* Top, Right, Bottom, Left */
}

.dropdown-content-left {
    margin: 8px 0 0 -10px; /* Top, Right, Bottom, Left */
}

/* Dropdown link styling */
.dropdown-content a {
    color: white; /* White text color for dropdown links */
    padding: 12px 16px; /* Padding for dropdown links */
    text-decoration: none; /* Remove underline */
    display: block; /* Block display for dropdown links */
}

/* Dropdown link hover effects */
.dropdown-content a:hover {
    color: #b3b3b5; /* Change text color on hover */
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown when hovered */
}
